.form-check {
    padding-left: 25px !important;
    height: 35px;
}

.inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

.margin-left {
    margin-left: 10px !important;
}

h6 {
    margin-top: 25px;
}

hr {
    margin-bottom: 5px;
}

.btn-add {
    color: white !important;
}

.fa-exclamation-triangle {
    color: red;
}

.fa-tint {
    color: #e0a800;
}

.fa-check-square {
    color: #0590c6;
}