<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Produto</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let produto of arrData.produtos">
					<td>{{produto.name}}</td>
					<td><span (click)="removeProduct(content, produto.id_product)"><i class="fa fa-minus-circle"></i></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Histórico</th>
					<th>Data</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let produto of arrData.estoque">
					<td>{{produto.name}}</td>
					<td>{{produto.date}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div [ngClass]="{'loading': loading}"></div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Vendeu mesmo?</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Você deseja diminuir este produto do estoque? <br />
			<b>Essa operação não poderá ser desfeita.</b></p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" ngbAutofocus (click)="remove()">Sim</button>
	</div>
</ng-template>