<nav class="navbar navbar-expand-lg navbar-light bg-light bg-herbie">
	<a class="navbar-brand">
		<img src="/assets/images/logo.png" width="80px">
	</a>

	<button class="navbar-toggler" type="button" (click)="toggleNavbar()">
		<i class="fa fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#" (click)="logout($event)" *ngIf="loggedIn">Sair</a>
			</li>
		</ul>
	</div>
</nav>