<nav class="navbar navbar-expand-lg navbar-light bg-light bg-herbie">
	<a class="navbar-brand">
		<img src="/assets/images/herbie.svg" width="50px">
	</a>

	<button class="navbar-toggler" type="button" (click)="toggleNavbar()">
		<i class="fa fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="dashboard">Dashboard</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" (click)="toggleManutencao()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					Manutenção
				</a>
				<div class="dropdown-menu" [ngClass]="{ 'show': manutencaoOpen }">
					<!--<a class="dropdown-item" routerLink="crawler" (click)="toggleManutencao()">Marcas e Modelos</a>-->
					<a class="dropdown-item" routerLink="titulo" (click)="toggleManutencao()">Título do Manual</a>
					<a class="dropdown-item" routerLink="item" (click)="toggleManutencao()">Item do Manual</a>
					
					<a class="dropdown-item" routerLink="titulo-fixo" (click)="toggleManutencao()">Título do Manual Fixo</a>
					<a class="dropdown-item" routerLink="manual-fixo" (click)="toggleManutencao()">Item do Manual Fixo</a>

					<a class="dropdown-item" routerLink="fluido" (click)="toggleManutencao()">Fluído</a>
					
					<a class="dropdown-item" routerLink="manual" (click)="toggleManutencao()">Adicionar Manual</a>
					<a class="dropdown-item" routerLink="pesquisa-manual" (click)="toggleManutencao()">Pesquisar Manual</a>
					<a class="dropdown-item" routerLink="copia-manual" (click)="toggleManutencao()">Duplicar Manual</a>
					<a class="dropdown-item" routerLink="lista" (click)="toggleManutencao()" >Lista de Manutenções</a>
					<a class="dropdown-item" routerLink="uso" (click)="toggleManutencao()">Condições de Uso</a>
					<a class="dropdown-item" routerLink="status" (click)="toggleManutencao()">% Cond. de Uso</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="usuarios">Usuários</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="carros">Carros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" (click)="logout($event)" *ngIf="loggedIn">Sair</a>
			</li>
		</ul>
	</div>
</nav>