<fieldset class="fieldset">
	<legend>Condições de Uso</legend>
	<p>
		Insira a pergunta da condição de uso.
	</p>
	<form [formGroup]="usoForm">
		<div class="form-row">
			<div class="form-group col-md-12">
				<textarea class="form-control" formControlName="pergunta" required></textarea>
			</div>
			<div class="form-group col-md-12">
				Insira as opções de escolha (Se não adicionar, será criado automaticamente uma lista de opções de 0 a 30)
			</div>
			<div class="input-group col-md-12">
				<input type="text" class="form-control" [(ngModel)]="opcao" [ngModelOptions]="{standalone: true}">
				<div class="input-group-prepend">
					<button class="btn btn-primary" (click)="addOpcao(opcao)">Add</button>
				</div>
			</div>
			<div class="input-group col-md-12">
				<table class="table no-border" *ngIf="arrOpcoes.length">
					<thead>
						<tr>
							<th scope="col">Opção</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let opcao of arrOpcoes">
							<td scope="row">{{opcao}}</td>
							<td scope="row" class="text-right">
								<a (click)="removeOpcao(opcao)">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group col-md-12 text-center padding-top-30">
				<button class="btn btn-primary" (click)="onSubmit()" [disabled]="!this.usoForm.value.pergunta">Salvar</button>
			</div>
		</div>
	</form>
</fieldset>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Pergunta</th>
				<th>Opções</th>
				<th class="text-center">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of arrItems">
				<td>{{ item.pergunta }}</td>
				<td>
					<ul>
						<li *ngFor="let opcao of item.opcoes">{{opcao.opcao}}</li>
					</ul>
				</td>
				<td class="text-center">
					<a (click)="openEdit(item.id, item.pergunta)">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</a>
					<a (click)="openRemove(content, item.id)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div [ngClass]="{'loading': loading}"></div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Deletar condição de uso</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Você deseja apagar a condição de uso? <br />
			<b>Essa operação não poderá ser desfeita.</b></p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.dismiss('cancel click')">Não</button>
		<button type="button" class="btn btn-danger" ngbAutofocus (click)="remove()">Sim</button>
	</div>
</ng-template>