<fieldset class="fieldset">
	<legend>Condições de Uso</legend>
	<p>
		Insira a pergunta da condição de uso
	</p>
	<form [formGroup]="usoForm">
		<div class="form-row">
			<div class="form-group col-md-12">
				<textarea class="form-control" formControlName="pergunta" required></textarea>
			</div>
			<div class="form-group col-md-12">
				Insira um nickname para a pergunta
			</div>
			<div class="form-group col-md-12">
				<input type="text" class="form-control" formControlName="nickname" required>
			</div>
			<div class="form-group col-md-12">
				Insira as opções de escolha
				<br /><button class="btn btn-primary" (click)="openOpcao(contentOpcao)">Adicionar</button>
			</div>
			<div class="input-group col-md-12">
				<table class="table no-border" *ngIf="arrOpcoes.length">
					<thead>
						<tr>
							<th scope="col">Opção</th>
							<th scope="col">Condição</th>
							<th scope="col">Título</th>
							<th scope="col">Itens</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let opcao of arrOpcoes">
							<td scope="row">{{opcao.opcao}}</td>
							<td scope="row">
								{{opcao.condicao}}
							</td>
							<td scope="row">
								<span *ngIf="!opcao.txtTitulo">-</span>
								{{opcao.txtTitulo}}
							</td>
							<td scope="row">
								<span *ngIf="!opcao.items.length">-</span>
								<ul class="list-itens">
									<li *ngFor="let items of opcao.items"> {{ items.item }}</li>
								</ul>
							</td>
							<td scope="row" class="text-right">
								<a (click)="removeOpcao(opcao)">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group col-md-12 text-center padding-top-30">
				<button class="btn btn-primary" (click)="onSubmit()" [disabled]="!this.usoForm.value.pergunta">Salvar</button>
			</div>
		</div>
	</form>
</fieldset>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Pergunta</th>
				<th>Nickname</th>
				<th>Opção</th>
				<th class="text-center">Condição</th>
				<th>Itens</th>
				<th class="text-center">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of arrItems">
				<td>{{ item.pergunta }}</td>
				<td>{{ item.nickname }}</td>
				<td>{{ item.opcao }}</td>
				<td class="text-center"><span *ngIf="!item.condicao">-</span>{{ item.condicao }}</td>
				<td>
					<span *ngIf="!item.condicao">-</span>
					<ul class="list-itens">
						<li *ngFor="let items of item.items"> {{ items.item }}</li>
					</ul>
				</td>
				<td class="text-center">
					<a (click)="openEdit(item.id, item.pergunta, item.nickname, item.opcao, item.condicao, item.id_condicao_uso, item.items)">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</a>
					<a (click)="openRemove(content, item.id)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div [ngClass]="{'loading': loading}"></div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Deletar opção da condição de uso</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Você deseja apagar a opção da condição de uso? <br />
			<b>Essa operação não poderá ser desfeita.</b></p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.dismiss('cancel click')">Não</button>
		<button type="button" class="btn btn-danger" ngbAutofocus (click)="remove()">Sim</button>
	</div>
</ng-template>


<ng-template #contentOpcao let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Adicionar a opção</h4>
		<button type="button" class="close" aria-label="Close" (click)="closeItem()">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group col-md-12">
			<input type="text" class="form-control" [(ngModel)]="opcao" [ngModelOptions]="{standalone: true}" placeholder="Texto da opção">
		</div>
		<div class="form-group col-sm-12">
			<select id="inputCondicao" class="form-control condicao" [(ngModel)]="condicao" [ngModelOptions]="{standalone: true}">
				<option selected value="">Selecione a condição de uso</option>
				<option value="Ideal">Ideal</option>
				<option value="Misto">Misto</option>
				<option value="Severo">Severo</option>
			</select>
		</div>
		<div class="form-group col-sm-12" *ngIf="condicao === 'Misto' || condicao === 'Severo'">
			<select id="inputTitulo" class="form-control" [(ngModel)]="selectedTitulo" [ngModelOptions]="{standalone: true}" (change)="onChangeTitulo($event)">
				<option selected value="0">Selecione o título</option>
				<option *ngFor="let titulo of arrTitulos" [value]="titulo.id">{{titulo.titulo}}</option>
			</select>
		</div>
		<div class="form-group col-sm-12" *ngFor="let item of options">
			<div class="form-check inline-block">
				<input type="checkbox" class="form-check-input" name="itens[{{item.id}}]" id="check_{{item.id}}" [value]="item.id"
				(change)="setItens($event.target.getAttribute('value'), $event.target.checked, item.item)">
				<label class="form-check-label" for="check_{{item.id}}">{{ item.item }}</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="closeItem()">Cancelar</button>
		<button type="button" class="btn btn-danger" ngbAutofocus (click)="addOpcao()">Salvar</button>
	</div>
</ng-template>