<div class="row">
	<div class="col-sm">
		<button class="btn btn-lg" (click)="backbutton()">
			<i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar
		</button>
	</div>
	<div class="col-sm text-right">
		<button type="button" class="btn btn-primary" (click)="openItem(contentItem)">
			<i class="fa fa-plus" aria-hidden="true"></i> Adicionar Item
		</button>
	</div>
</div>
<br />
<fieldset class="fieldset">
	<legend>Dados do Veículo</legend>
	<ul>
		<li><b>Marca:</b> {{marca}}</li>
		<li><b>Modelo:</b> {{modelo}}</li>
		<li><b>Ano:</b> {{ano}}</li>
		<li><b>Versão:</b> {{versao}}</li>
	</ul>
</fieldset>
<table class="table table-bordered no-border">
	<thead>
		<tr>
			<th scope="col" class="no-border"></th>
			<th scope="col" colspan="3" class="text-center">Ideal</th>
			<th scope="col" colspan="3" class="text-center">Severo</th>
			<td class="no-border"></td>
		</tr>
		<tr>
			<td scope="col" class="no-border"></td>
			<th scope="col" class="text-center">Km</th>
			<th scope="col" class="text-center">Meses</th>
			<th scope="col" class="text-center">Obs</th>
			<th scope="col" class="text-center">Km</th>
			<th scope="col" class="text-center">Meses</th>
			<th scope="col" class="text-center">Obs</th>
			<th scope="col" class="text-center">Ação</th>
		</tr>
	</thead>
	<tbody *ngFor="let options of arrItems">
		<tr>
			<td scope="row" colspan="8" class="titulo" *ngIf="options.items.length">{{options.txtTitulo}}</td>
		</tr>
		<tr *ngFor="let item of options.items">
			<td scope="row">{{item.item}}</td>
			<td scope="row">
				<input type="text" class="form-control" size="8" id="km_ideal_{{item.id}}" value="{{item.km_ideal}}">
			</td>
			<td scope="row" class="text-center">
				<input type="text" class="form-control" size="4" id="meses_ideal_{{item.id}}" value="{{item.meses_ideal}}">
			</td>
			<td scope="row" class="text-center">
				<textarea class="form-control" rows="3" id="observacao_ideal_{{item.id}}">{{item.observacao_ideal}}</textarea>
			</td>
			<td scope="row" class="text-center">
				<input type="text" class="form-control" size="8" id="km_severo_{{item.id}}" value="{{item.km_severo}}">
			</td>
			<td scope="row" class="text-center">
				<input type="text" class="form-control" size="4" id="meses_severo_{{item.id}}" value="{{item.meses_severo}}">
			</td>
			<td scope="row" class="text-center">
				<textarea class="form-control" rows="3" id="observacao_severo_{{item.id}}">{{item.observacao_severo}}</textarea>
			</td>
			<td scope="row" class="text-center action-manual">
				<a (click)="openRemove(contentDelete, item.id_manual_carro)">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	</tbody>
	<tbody *ngFor="let options of arrItemsFixo">
		<tr>
			<td scope="row" colspan="7" class="titulo" *ngIf="options.items.length">{{options.txtTitulo}}</td>
		</tr>
		<tr *ngFor="let item of options.items">
			<td scope="row">{{item.item}}</td>
			<td scope="row" class="text-center">{{item.km_ideal}}</td>
			<td scope="row" class="text-center">{{item.tempo_ideal}}</td>
			<td scope="row" class="text-center">
				<ng-template #popObservacaoIdeal>{{item.observacao_ideal}}</ng-template>
				<i class="fa fa-pencil-square-o" *ngIf="item.observacao_ideal" aria-hidden="true" [ngbPopover]="popObservacaoIdeal"
				triggers="mouseenter:mouseleave" popoverTitle="Observação"></i>
			</td>
			<td scope="row" class="text-center">{{item.km_severo}}</td>
			<td scope="row" class="text-center">{{item.tempo_severo}}</td>
			<td scope="row" class="text-center">
				<ng-template #popObservacaoSevero>{{item.observacao_severo}}</ng-template>
				<i class="fa fa-pencil-square-o" *ngIf="item.observacao_severo" aria-hidden="true" [ngbPopover]="popObservacaoSevero"
				triggers="mouseenter:mouseleave" popoverTitle="Observação"></i>
			</td>
		</tr>
	</tbody>
</table>

<label for="observacao">Observação:</label>
<textarea class="form-control" rows="5" id="observacao">{{observacao}}</textarea>
<br />
<div class="form-row">
	<div class="form-group col-md-12 text-center">
		<button class="btn btn-primary btn-lg" (click)="edit()">Alterar</button>
	</div>
</div>

<div [ngClass]="{'loading': loading}"></div>

<ng-template #contentDelete let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Deletar item do manual</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Você deseja apagar o item do manual?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.dismiss('cancel click')">Não</button>
		<button type="button" class="btn btn-danger" ngbAutofocus (click)="removeItem()">Sim</button>
	</div>
</ng-template>

<ng-template #contentItem let-modal>
	<form [formGroup]="itemForm">
		<div class="modal-header">
			<h4 class="modal-title">Adicionar Item</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel click')">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-row">
				<div class="form-group col-sm-12">
					<select id="inputTitulo" class="form-control" formControlName="selectedTitulo" (change)="onChangeTitulo()">
						<option selected value="0">Selecione o título</option>
						<option *ngFor="let titulo of arrTitulos" [value]="titulo.id">{{titulo.titulo}}</option>
					</select>
				</div>
				<div class="form-group col-sm-12">
					<select id="inputTitulo" class="form-control" formControlName="selectedItem">
						<option selected value="0">Selecione o Item</option>
						<option *ngFor="let item of options" [value]="item.id">{{item.item}}</option>
					</select>
				</div>
			</div>
			<p>Ideal <br /></p>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<input type="number" class="form-control" ngbAutofocus [(ngModel)]="km_ideal" [ngModelOptions]="{standalone: true}" name="km_ideal" value="" placeholder="Km">
				</div>
				<div class="form-group col-sm-6">
					<input type="number" class="form-control" [(ngModel)]="meses_ideal" [ngModelOptions]="{standalone: true}" name="meses_ideal" value="" placeholder="Meses">
				</div>
				<div class="form-group col-sm-12">
					<textarea class="form-control" rows="3" [(ngModel)]="observacao_ideal" [ngModelOptions]="{standalone: true}" placeholder="Observação"></textarea>
				</div>
			</div>
			<p>Severo <br /></p>
			<div class="form-row">
				<div class="form-group col-sm-6">
					<input type="number" class="form-control" [(ngModel)]="km_severo" [ngModelOptions]="{standalone: true}" name="km_severo" value="" placeholder="Km">
				</div>
				<div class="form-group col-sm-6">
					<input type="number" class="form-control" [(ngModel)]="meses_severo" [ngModelOptions]="{standalone: true}" name="meses_severo" value="" placeholder="Meses">
				</div>
				<div class="form-group col-sm-12">
					<textarea class="form-control" rows="3" [(ngModel)]="observacao_severo" [ngModelOptions]="{standalone: true}" placeholder="Observação"></textarea>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-light" (click)="modal.dismiss('cancel click')">Cancelar</button>
			<button type="button" class="btn btn-danger" (click)="addItem(km_ideal, meses_ideal, observacao_ideal, km_severo, meses_severo, observacao_severo)">Adicionar</button>
		</div>
	</form>
</ng-template>